<!DOCTYPE html>
<link rel="stylesheet" href="main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Database of Archaeological Sites</title>
<h1>Front page</h1>
<p>Welcome to the <i>application</i></p>
<p>{{ message }}</p>
<ul>
{% for item in items %}
<li> {{ item }}

{% endfor %}
</ul>

<form action="/login" method="POST">
    <label for="username">Tunnus:</label>
    <input type="text" name="username"><br>
    <label for="password">Salasana:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Kirjaudu">
  </form>