<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Database of Archaeological Sites</title>
<h1>Front page</h1>
<p>{{ message }}</p>

{% if session.user_id %}
<p>You are logged in as {{ session.username}}</p>
<p><a href="/new">Add a location</a></p>

<p><a href="/logout">Logout</a></p>


{% else %}

  <p><a href="/login">Login</a></p>
  <p><a href="{{ url_for('register') }}">New user</a></p>

 {% endif %}


 <h2>List of locations</h2>
 <table>
  <tr>
    <th>Site name</th>
    <th>Type</th>
    <th>Dating</th>
  </tr>
  {% for item in items %}
  <tr>
    <th>{{ item[1] }}</th>
    <th>{{ item[2] }}</th>
    <th>{{ item[3] }}</th>
  </tr>
  {% endfor %}
</table>